<div style="background-color: cornsilk; padding: 10px;">
    <h1><b> Angular Material Course</b></h1>
</div>

<div style="margin: 20px;">
    <h2>Typhography</h2>
    <div class="mat-display-4">This is display 4</div>
    <div class="mat-display-3">This is display 3</div>
    <div class="mat-display-2">This is display 2</div>
    <div class="mat-display-1">This is display 1</div>
    <div class="mat-headline">This is a heading for h1</div>
    <div class="mat-title">This is a heading for h2 </div>
    <div class="mat-subheading-2">This is a heading for h3</div>
    <div class="mat-subheading-1">This is a heading for h4</div>
    <div class="mat-body-1">This is body text </div>
    <div class="mat-body-2">This is bold body text</div>
    <div class="mat-caption">This is caption text</div>

    <div class="mat typography">
        <h1>This is a heading for h1</h1>
        <h2>This is a heading for h2</h2>
        <h3>This is a heading for h3</h3>
        <h4>This c/div> is a heading for h4</h4>
    </div>

    <hr>
    <h2>Button</h2>
    <button mat-button>Hello World</button> &nbsp; &nbsp;
    <button mat-raised-button>Hello World</button> &nbsp; &nbsp;
    <button mat-flat-button>Hello World</button> &nbsp; &nbsp;
    <button mat-stroked-button>Hello World</button>

    <br>

    <button mat-icon-button>Hello </button> &nbsp; &nbsp;
    <button mat-fab>Hello </button> &nbsp; &nbsp;
    <button mat-mini-fab>Hello </button>

    <br>

    <button color="primary" mat-button>primary</button> &nbsp; &nbsp;
    <button color="accent" mat-button>accent</button> &nbsp; &nbsp;
    <button color="warn" mat-button>warn</button> &nbsp; &nbsp;

    <br>

    <button color="primary" mat-button disableRipple>primary</button>

    <hr>
    <h2>Button Toggle</h2>
    <mat-button-toggle-group #matToggle="matButtonToggleGroup" multiple>
        <mat-button-toggle value="123">123</mat-button-toggle>
        <mat-button-toggle value="567">567</mat-button-toggle>
    </mat-button-toggle-group>

    &nbsp; &nbsp; &nbsp; &nbsp; <b> {{matToggle.value}}</b>

    <br><br>

    <mat-button-toggle #matToggleBtn checked>Toggle Button</mat-button-toggle> &nbsp; &nbsp; &nbsp; &nbsp;
    <span style="background-color: grey;min-width:50px;">{{matToggleBtn}}</span>

    <hr>

    <h2>Icon</h2>
    <mat-icon color="primary">print</mat-icon>

    <hr>
    <h2>Badges</h2>

    <span [matBadge]="notifications" [matBadgeHidden]="notifications == 0">Notifications</span>
    <br><br>
    <span matBadge="5" matBadgePosition="below before">Notifications</span>
    <br><br>
    <span matBadge="5" matBadgePosition="below after">Notifications</span>
    <br><br>
    <span matBadge="5" matBadgePosition="above before">Notifications</span>
    <br><br>
    <span matBadge="5" matBadgeSize="small">Notifications</span>
    <br><br>
    <span matBadge="5" matBadgeSize="medium">Notifications</span>
    <br><br>
    <span matBadge="5" matBadgeSize="large" matBadgeOverlap="false">Notifications</span>
    <br><br>
    <span [matBadge]="notifications" matBadgeSize="large" matBadgeColor="accent">Notifications</span>
    <br><br>

    <hr>

    <h2>Progress spinner</h2>
    <mat-progress-spinner value="40"></mat-progress-spinner>
    <mat-spinner></mat-spinner>

    <hr>

    <h2>Progress Bar</h2>
    <br>
    Buffer
    <mat-progress-bar mode="buffer" color="accent"></mat-progress-bar>
    <br>
    Determinate
    <mat-progress-bar mode="Determinate" color="accent" value="40"></mat-progress-bar>
    <br>
    Indeterminate
    <mat-progress-bar mode="Indeterminate" color="accent"></mat-progress-bar>
    <br>
    Query
    <mat-progress-bar mode="Query" color="accent"></mat-progress-bar>
    <br>
    Buffer + value + Buffer value
    <mat-progress-bar color="accent" mode="buffer" [value]="25" [bufferValue]="50">
    </mat-progress-bar>

    <br><br>
    <hr>

    <h2>Mat tool bar</h2>

    <mat-toolbar class="navbar">
        <div>Code Evolution</div>
        <div id="navbar">
            <span>Home</span>
            <span>About</span>
            <span>Services</span>
        </div>
    </mat-toolbar>

    <br>
    <hr>

    <h2>Sidenav</h2>

    <mat-sidenav-container class="container" color="accent">
        <mat-sidenav #sidenav (opened)="logSideNavState('opened')" (closed)="logSideNavState('closed')"
            [(opened)]="opened" class="sidenav" mode="side">Sidenav</mat-sidenav>
        <mat-sidenav-content><span>Main Content</span>
            <button (click)="sidenav.toggle()">Toggle Sidenav</button>
        </mat-sidenav-content>
    </mat-sidenav-container>

    <br><br>
    <hr>

    <h2>Menus</h2>

    <mat-menu #menu="matMenu" xPosition="before" yPosition="above">
        <button mat-menu-item [matMenuTriggerFor]="subMenu1">FrontEnd</button>
        <button mat-menu-item>BackEnd</button>
    </mat-menu>

    <button mat-flat-button [matMenuTriggerFor]="menu">Menu</button>

    <mat-menu #subMenu1="matMenu">
        <button mat-menu-item>Angular</button>
        <button mat-menu-item>React</button>
        <button mat-menu-item>Vue</button>
    </mat-menu>

    <br><br>

    <mat-menu #lazyMenu="matMenu">
        <ng-template matMenuContent let-name="name" let-hby="hobby">
            <button mat-menu-item>Angular</button>
            <button mat-menu-item>React</button>
            <button mat-menu-item>Logout {{name}} ({{hby}})</button>
        </ng-template>
    </mat-menu>

    <button mat-flat-button [matMenuTriggerData]="{name:'Niranjan', hobby:'Coding'}"
        [matMenuTriggerFor]="lazyMenu">Niranjan </button>
    &nbsp; &nbsp; &nbsp;
    <button mat-flat-button [matMenuTriggerData]="{name:'Dhananjaya', hobby:'Music'}"
        [matMenuTriggerFor]="lazyMenu">Dhananjaya </button>

    <br><br>
    <hr>

    <h2>List</h2>

    <mat-list class="bgColor" dense>
        <mat-list-item>Item 1</mat-list-item>
        <mat-list-item>Item 2</mat-list-item>
        <mat-list-item>Item 3</mat-list-item>
    </mat-list>

    <br><br>

    <mat-nav-list class="bgColor">
        <a mat-list-item href="#">Home</a>
        <a mat-list-item href="#">About</a>
        <a mat-list-item href="#">Services</a>
    </mat-nav-list>

    <br><br>

    <mat-list class="bgColor">
        <mat-list-item>
            <mat-icon matListIcon>home</mat-icon>
            <h3 matLine>Home</h3>
            <p matLine>Description</p>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>
            <mat-icon matListIcon>print</mat-icon>
            <h3 matLine>Print</h3>
            <p matLine>Print Data</p>
        </mat-list-item>
    </mat-list>

    <br><br>
    <hr>

    <h2>Grid List</h2>

    <mat-grid-list cols="2" rowHeight="3:1" gutterSize="10px">
        <mat-grid-tile colspan="2" class="bgColor">Tile 1</mat-grid-tile>
        <mat-grid-tile class="bgColor">Tile 2</mat-grid-tile>
        <mat-grid-tile class="bgColor">Tile 3</mat-grid-tile>
        <mat-grid-tile class="bgColor">Tile 4</mat-grid-tile>
    </mat-grid-list>

    <br><br>

    <mat-grid-list cols="2" class="bgColor" rowHeight="fit" style="height: 300px;">
        <mat-grid-tile colspan="2">Tile 1</mat-grid-tile>
        <mat-grid-tile>Tile 2</mat-grid-tile>
        <mat-grid-tile>Tile 3</mat-grid-tile>
        <mat-grid-tile>Tile 4</mat-grid-tile>
    </mat-grid-list>

    <br><br>
    <hr>

    <h2>Expansion panels</h2>

    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>Angular Fundamantals</mat-panel-title>
            <mat-panel-description> Duration: 2 hours</mat-panel-description>
        </mat-expansion-panel-header>
        <p>Loreum ipsum</p>
        <mat-action-row>
            <button mat-flat-button>Enroll</button>
        </mat-action-row>
    </mat-expansion-panel>

    <br><br>

    <mat-accordion>
        <mat-expansion-panel #accordion>
            <mat-expansion-panel-header>
                <mat-panel-title>Angular Material</mat-panel-title>
                <mat-panel-description> Duration: 3 hours</mat-panel-description>
            </mat-expansion-panel-header>
            <p>Loreum ipsum</p>
            <mat-action-row>
                <button mat-flat-button>Enroll</button>
            </mat-action-row>
        </mat-expansion-panel>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>Angular Fundamantals</mat-panel-title>
                <mat-panel-description> Duration: 2 hours</mat-panel-description>
            </mat-expansion-panel-header>
            <p>Loreum ipsum</p>
            <mat-action-row>
                <button mat-flat-button>Enroll</button>
            </mat-action-row>
        </mat-expansion-panel>
    </mat-accordion>
    <br>
    <button mat-flat-button (click)="accordion.toggle()">Toggle Accordion</button>

    <br><br>
    <hr>

    <h2>Cards</h2>

    <mat-card>
        <mat-card-header>
            <div mat-card-avatar class="bgColor"></div>
            <mat-card-title> Title </mat-card-title>
            <mat-card-subtitle>Sub title </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <p> Content here</p>
        </mat-card-content>
        <mat-card-actions align="right">
            <button mat-flat-button color="accent">Like</button>
            <button mat-flat-button color="accent">Share</button>
        </mat-card-actions>
    </mat-card>

    <br><br>
    <hr>

    <h2>Tabs</h2>

    <mat-tab-group class="bgColor" #tabRef (selectedTabChange)="logTabChange(tabRef.selectedIndex)">
        <mat-tab label="Angular">Angular</mat-tab>
        <mat-tab label="React">React</mat-tab>
        <mat-tab label="Vue">Vue</mat-tab>
    </mat-tab-group>
    <br>
    Selected Index: {{tabRef.selectedIndex}}

    <br><br>
    <hr>

    <h2>Stepper</h2>

    <mat-horizontal-stepper class="bgColor">
        <mat-step label="Ordered">Status: Ordered</mat-step>
        <mat-step label="Shipped">
            Status: Shipped
            <button mat-flat-button matStepperPrevious>Previous</button>
            <button mat-flat-button matStepperNext>next</button>
        </mat-step>
        <mat-step label="Delivered ">Status: Delivered</mat-step>
    </mat-horizontal-stepper>

    <br><br>

    <mat-horizontal-stepper class="bgColor" linear>
        <mat-step label="Ordered" completed=true>Status: Ordered</mat-step>
        <mat-step label="Shipped" completed=false optional>
            <p>Status: Shipped</p>
            <div>
                <button mat-flat-button matStepperPrevious completed=false>Previous</button>
                <button mat-flat-button matStepperNext completed=false>next</button>
            </div>
        </mat-step>
        <mat-step label="Delivered" completed=false>Status: Delivered</mat-step>
    </mat-horizontal-stepper>

    <br><br>

    <mat-vertical-stepper class="bgColor" linear>
        <mat-step label="Ordered (Completed)" completed=true>Status: Ordered</mat-step>
        <mat-step label="Shipped" completed=false>
            <p>Status: Shipped</p>
            <div>
                <button mat-flat-button matStepperPrevious completed=false>Previous</button>
                <button mat-flat-button matStepperNext completed=false>next</button>
            </div>
        </mat-step>
        <mat-step label="Delivered" completed=false>Status: Delivered</mat-step>
    </mat-vertical-stepper>

    <br><br>
    <hr>

    <h2>Input</h2>

    <mat-form-field class="bgColor" floatLabel="auto" hideRequiredMarker appearance="fill" color="primary">
        <mat-label>Name </mat-label>
        <input matInput required>
        <mat-hint align="end">Min 5 characters</mat-hint>
    </mat-form-field>

    <br><br>
    <hr>

    <h2>Select</h2>

    <mat-form-field class="bgColor">
        <mat-label>Topic</mat-label>
        <mat-select [(value)]="selectedValue" multiple>
            <mat-option>None</mat-option>
            <mat-option value="angular">Angular</mat-option>
            <mat-option value="react">React</mat-option>
            <mat-option value="vue">Vue</mat-option>
        </mat-select>
    </mat-form-field>

    {{selectedValue}}

    <br><br>

    <mat-form-field class="bgColor">
        <mat-label>Topic</mat-label>
        <mat-select>
            <mat-option>None</mat-option>
            <mat-optgroup label="FronEnd">
                <mat-option value="angular">Angular</mat-option>
                <mat-option value="react">React</mat-option>
                <mat-option value="vue">Vue</mat-option>
            </mat-optgroup>
            <mat-optgroup label="BackEnd">
                <mat-option value="angular">Node</mat-option>
                <mat-option value="react">Go</mat-option>
            </mat-optgroup>
        </mat-select>
    </mat-form-field>

    <br><br>
    <hr>

    <h2>Auto Complete</h2>

    <!-- <form>
        <mat-form-field>
            <input type="text" matInput [matAutocomplete]="auto" />
            <mat-autocomplete #auto="matAutocomplete">
                <mat-option *ngFor="let option of options" [value]="option">{{option}}</mat-option>
            </mat-autocomplete>
        </mat-form-field>
    </form> -->

    <br><br>
    <hr>

    <h2>Checkbox / Radio button</h2>

    <mat-checkbox class="bgColor" labelPosition="after" color="warn">Subscribe</mat-checkbox>

    <br><br>

    <mat-radio-group class="bgColor">
        <mat-radio-button value="angular">Angular</mat-radio-button>
        <mat-radio-button value="React">React</mat-radio-button>
        <mat-radio-button value="Vue">Vue</mat-radio-button>
    </mat-radio-group>

    <br><br>
    <hr>

    <h2>Date Picker</h2>

    Initial view set
    <mat-form-field class="bgColor">
        <input matInput [matDatepicker]="datePicker" #date [(ngModel)]="selectedDate">
        <mat-datepicker-toggle [for]="datePicker" matSuffix></mat-datepicker-toggle>
        <mat-datepicker #datePicker="matDatepicker" startView="year"></mat-datepicker>
    </mat-form-field>

    {{date.value}} -- {{selectedDate}}

    <br><br>
    Min and Max dates Set
    <mat-form-field appearance="fill" class="bgColor">
        <input matInput [matDatepicker]="picker" [min]="minDate" [max]="maxDate">
        <mat-datepicker-toggle [for]="picker" matSuffix></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <br><br>
    Weekends Filtered
    <mat-form-field class="bgColor">
        <input matInput [matDatepicker]="datePickerFilter" [matDatepickerFilter]="dateFilter">
        <mat-datepicker-toggle [for]="datePickerFilter" matSuffix></mat-datepicker-toggle>
        <mat-datepicker #datePickerFilter="matDatepicker"></mat-datepicker>
    </mat-form-field>

    <br><br>
    <hr>

    <h2>Tooltips</h2>

    <button mat-flat-button matTooltip="Welcome" matTooltipPosition="after" matTooltipShowDelay="2000"
        matTooltipHideDelay="2000">
        Click here
    </button>

    <br><br>
    <hr>

    <h2>Snackbar</h2>

    <button mat-flat-button (click)="openSnackbar('It worked!', 'Dismiss')">Open Snackbar</button>
    <br><br>
    <button (click)="openCustomSnackbarComponent()" mat-flat-button>Open Custom Snackbar Component</button>

    <br><br>
    <hr>

    <h2>Dialogs</h2>

    <button mat-raised-button (click)="openDialog()">Open Dialog</button>

    <br><br>
    <hr>

    <h2>Table</h2>

    <mat-form-field class="bgColor">
        <mat-label>Filter</mat-label>
        <input matInput (keyup)="filterData($event.target.value)">
    </mat-form-field>
    <br><br>
    <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

        <!--- Note that these columns can be defined in any order.
              The actual rendered columns are set as a property on the row definition" -->

        <!-- Position Column -->
        <ng-container matColumnDef="position">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> No. </th>
            <td mat-cell *matCellDef="let element"> {{element.position}} </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
            <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="weight">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Weight </th>
            <td mat-cell *matCellDef="let element"> {{element.weight}} </td>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="symbol">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Symbol </th>
            <td mat-cell *matCellDef="let element"> {{element.symbol}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row (click)="logRowData(row)" *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[5,10,20]" showFirstLastButtons></mat-paginator>

    <br><br>
    <hr>

    <h2>Virtual Scrolling</h2>

    <cdk-virtual-scroll-viewport itemSize="100" class="container">
        <div *cdkVirtualFor="let number of virtualScrollArray" class="number">
            {{number}}
        </div>
    </cdk-virtual-scroll-viewport>










































    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
</div>